**/target/
.idea
*.iml
*.class
*Test.java
**/test/
frontend/nginx-1.20.2/logs/
frontend/nginx-1.20.2/temp/
frontend/nginx-1.20.2/conf/nginx.conf.default
frontend/nginx-1.20.2/conf/mime.types.default
*.log
*.tmp
.DS_Store
Thumbs.db
frontend/nginx-1.20.2/html/sky/css/*.css
frontend/nginx-1.20.2/html/sky/js/*.js
frontend/nginx-1.20.2/html/sky/js/*.map
frontend/nginx-1.20.2/html/sky/css/*.map
frontend/nginx-1.20.2/html/sky/img/*.*
frontend/nginx-1.20.2/html/sky/fonts/*.*
frontend/nginx-1.20.2/html/sky/media/*.*
frontend/nginx-1.20.2/html/sky/precache-manifest.*.js
frontend/nginx-1.20.2/html/sky/service-worker.js
node_modules/
dist/
build/
.nuxt/
.next/
out/
target/
.env*
!.env.example